:local {
  .inputBox {
    width: 100%
  }
  .formHolder {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .card {
    align-self: center;
    max-width: 600px;
    display: inline-block;
    min-width: 500px;
  }
}