[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-script = "*"
sqlalchemy = "*"
flask-restful = "*"
flask-sqlalchemy = "*"
flask-login = "*"
flask-bcrypt = "*"
python-dotenv = "*"
flask-cors = "*"
itsdangerous = "*"
pyjwt = "*"
flask-migrate = "*"

[dev-packages]
pylint = "*"
"flake8" = "*"

[requires]
python_version = "3.7"
