$body-font: 'Roboto', sans-serif;

$title-font: 'Glegoo', serif;

// Breakpoints
$screen-xs: 0px;
$screen-sm: 600px;
$screen-md: 960px;
$screen-lg: 1280px;

/* Coolors Exported Palette - coolors.co/122c34-224870-2a4494-4ea5d9-75e4b3 */

/* RGB */
$primary: rgba(255, 102, 102, 1);
$primary-dark: rgba(72, 60, 70, 1);
$secondary-dark: rgba(60, 110, 113, 1);
$secondary: rgba(112, 174, 110, 1);
$secondary-light: rgba(190, 238, 98, 1);

$grey: #eceff1;
$dark-grey: #29434e;