$body-font: 'Roboto', sans-serif;

$title-font: 'Glegoo', serif;

// Breakpoints
$screen-xs: 0px;
$screen-sm: 600px;
$screen-md: 960px;
$screen-lg: 1280px;

/* Coolors Exported Palette - coolors.co/122c34-224870-2a4494-4ea5d9-75e4b3 */

/* RGB */
$darkGreen: rgba(18, 44, 52, 1);
$darkBlue: rgba(34, 72, 112, 1);
$blue: rgba(42, 68, 148, 1);
$lightBlue: rgba(78, 165, 217, 1);
$lightGreen: rgba(117, 228, 179, 1);